@tailwind base;
@tailwind components;
@tailwind utilities;

.font-WorkSans{
  font-family: "WorkSans";
}
@media screen and (max-width: 376px){
  body {
    background-image: url("./images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
  }
}

@media screen and (min-width: 376px) {
  body {
    background-image: url("./images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    background-size: contain;
  }
}
